<html lang="en">

<head>
	<title>Autoko</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%-include('base/plugins')%>
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<%-include('base/navbar')%>
	<div class="wrapper container">
		<div class="row">
			<%-include('base/searchform')%>
			<div class="ml-auto mr-auto text-center card" id="product-list">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Newest in stock</h4>
				</div>
				<div class="card-body row">
					<%cars.forEach(function(car){%>
					<div class="col-md-4 col-sm-6 col-xs-12 product-item" id='<%=car._id%>'>
						<div class="product-image">
							<img src="/uploads/<%=car.avatar%>" alt="">
						</div>
						<div class="product-info">
							<div class="product-name"><a href="/car/<%=car._id%>?country=<%=car.country%>">
									<%=car.name%></a></div>
							<div class="row" style="margin: 0">
								<div class="product-price col-md-6">
									<%=car.price%> euro</div>
								<div class="product-view col-md-6"><a href="/car/<%=car._id%>?country=<%=car.country%>" class="btn btn-primary"
									 role="button" aria-disabled="true">
										<%=car.manufacturer.name%>&nbsp;
										<%=car.model.name%></a></div>
							</div>
						</div>
					</div>
					<%})%>
				</div>
			</div>
		</div>
	</div>
	<script>
		let default_country = '<%=country%>';
		$('#search-country').val(default_country);
	</script>
	<script src="/js/searchform.js"></script>
</body>

</html>